# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/

# Prisma (migrations doivent etre commitees pour le deploiement)

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/settings.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/
.nyc_output/

# Turbo
.turbo/

# Docker volumes
docker/data/

# MinIO local data
minio_data/

# Misc
*.tsbuildinfo
.vercel
